// Variables

$primaryBgColor: #000;
$secondBgColorHsla: hsla(0, 0%, 27%, 0.7);
$primaryTextColor: #fff;
$primaryTextColorHsla: hsla(0,0%,100%,1);
$secondTextColor: #8b0000;
$secondTextColorRgba: rgba(139, 0, 0, 1);
